body {
    background-color: #EAF6F6;
}

hr {
    border-style: none;
    width: 10%;
    border-color: grey;
    border-width: 20px;
    border-top: dotted;
    
}

img {
    height: 250px;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}